{% extends 'blog/base.html' %}

{% block content %}

<h2>About the web site</h2>
<p>This is<a href="https://github.com/nobhri">nobhri</a>'s website. <br>I create the site to learn web apps.
</p>
<h2>What I do is ...</h2>
<p>A programmer, sometimes jazz musician.</p>
<h2>Favorite Things are ...</h2>
<p3>music and literature</p3>
<ul>
    <li>Jimi Hendrix</li>
    <li>Jim Hall</li>
    <li>DAZAI Osamu</li>
</ul>
<h2>I am intarested in...</h2>
<ul>
    <li>Web backend programming</li>
    <li>Data pipeline</li>
    <li>test automation</li>
</ul>
{% endblock %}