{% extends 'blog/base.html' %}

{% block content %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/n_6p-hc_jcY" title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/0a_z-3jb9MU" title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/eIH8vLTZELI" title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
{% endblock %}